[Unit]
Description=Update Firefox on Shutdown
DefaultDependencies=no
Before=shutdown.target
# This works because it is installed in the target and will be
#   executed before the target state is entered
# Also consider kexec.target

[Service]
Type=oneshot
ExecStart=systemd-inhibit apt install -y --only-upgrade firefox*
[Install]
WantedBy=shutdown.target
